<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments :: head">

</head>
<nav th:replace="fragments :: navigation"></nav>


<body>
    <h1 th:text="${title}"></h1>


    <p th:unless="${cheeses} and ${cheeses.size()}" > no cheese =(</p>
    <!--/* this is going to loop over arraylist to display cheeses in the list
    it reads like this: for each cheese in cheeses repeat the current element which is an <li> tag */-->


<dl th:each="cheese : ${cheeses}">

    <dt  th:text="${cheese.name}">Key</dt>
    <dd  th:text="${cheese.description}">Value</dd>
    <dd><a th:href="@{'/cheese/edit/' + ${cheese.cheeseId}}">edit</a></dd>

</dl>



</body>
</html>